iViewCoordX     = 200
iViewCoordY     = 200
iViewDimX       = 460
iViewDimY       = 250
iViewMinDimX    = 280
iViewMinDimY    = 106
iViewMaxDimX    = 460
iViewMaxDimY    = 250
iGridItemSizeX  = 36
iGridItemSizeY  = 36
iGridSizeX      = 12
iGridSizeY      = 5
iGridMinSizeX   = 7
iGridMinSizeY   = 1